<%if @posts.empty? %>
  <h1 class="text-center mt-5"> <%= "There are no posts yet. Create one! :)" %> </h1>
<% end %>

<div class="d-flex flex-column align-items-center">
  <div class="col-9">
    <% @posts.each do |post| %>
      <%= render 'card', post: post %>
    <% end %>
  </div>
</div>